{% extends "base.html" %}
{% block title %}You do not have access to this page{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">You do not have access to this page</h1>
      <p class="govuk-body">
        This area of the grants platform is only available to users with a
        different role. If you think you should have access, contact your
        administrator.
      </p>
      <p class="govuk-body">
        You can
        <form method="post" action="{{ url_for('auth.logout') }}" class="app-link-button-form">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <button type="submit" class="app-link-button">sign out</button>
        </form>
        and sign in with a different account if you have one.
      </p>
      <p class="govuk-body">
        <a class="govuk-link" href="{{ url_for('public.index') }}">Go to the homepage</a>
      </p>
    </div>
  </div>
{% endblock %}
