{% extends "base.html" %}
{% block title %}Sorry, there is a problem with the service{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">Try refreshing the page. If the problem continues:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>go to the <a class="govuk-link" href="{{ url_for('public.index') }}">homepage</a> and start again</li>
        <li>find the contact details for the fund you were applying to from its grant page if you were in the middle of submitting an application</li>
      </ul>
    </div>
  </div>
{% endblock %}
